##Dashboard

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import count
from pyspark.sql import functions as F
spark = SparkSession.builder.appName("DatabricksDashboard").getOrCreate()
golden_path = "dbfs:/Volumes/workspace/default/data/gold_table"
df = spark.read.option("header", "true").option("inferSchema", "true").csv("/Volumes/workspace/default/data/employees.csv")
df.write.format("delta").mode("overwrite").save(golden_path)

#silver table operation
transform = df.filter(F.col("SALARY").isNotNull()) \
                     .withColumn("DOUBLE_SALARY", F.col("SALARY") * 2)
transform.show()
# Gold Layer Transformation
golden_df = transform.groupBy("JOB_ID").agg(F.avg("DOUBLE_SALARY").alias("AVG_DOUBLE_SALARY"),F.count("*").alias("EMPLOYEE_COUNT"),F.max("DOUBLE_SALARY").alias("MAX_DOUBLE_SALARY"),F.min("DOUBLE_SALARY").alias("MIN_DOUBLE_SALARY")
           ).orderBy(F.desc("AVG_DOUBLE_SALARY"))
golden_df.show()
display(golden_df)

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|DOUBLE_SALARY|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|            - |       124|           50|         5200|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|            - |       124|           50|         5200|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|            - |       101|           10|         8800|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|            - |       100|           20|        26000|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|            - |       201|           20|        12000|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|            - |       101|           40|        13000|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|            - |       101|           70|        20000|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|            - |       101|          110|        24016|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|            - |       205|          110|        16600|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|            - |        - |           90|        48000|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|            - |       100|           90|        34000|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|            - |       100|           90|        34000|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|            - |       102|           60|        18000|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|            - |       103|           60|        12000|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|            - |       103|           60|         9600|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|            - |       103|           60|         9600|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|            - |       103|           60|         8400|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|            - |       101|          100|        24016|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|            - |       108|          100|        18000|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|            - |       108|          100|        16400|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+-------------+
only showing top 20 rows
+----------+-----------------+--------------+-----------------+-----------------+
|    JOB_ID|AVG_DOUBLE_SALARY|EMPLOYEE_COUNT|MAX_DOUBLE_SALARY|MIN_DOUBLE_SALARY|
+----------+-----------------+--------------+-----------------+-----------------+
|   AD_PRES|          48000.0|             1|            48000|            48000|
|     AD_VP|          34000.0|             2|            34000|            34000|
|    MK_MAN|          26000.0|             1|            26000|            26000|
|    AC_MGR|          24016.0|             1|            24016|            24016|
|    FI_MGR|          24016.0|             1|            24016|            24016|
|    PU_MAN|          22000.0|             1|            22000|            22000|
|    PR_REP|          20000.0|             1|            20000|            20000|
|AC_ACCOUNT|          16600.0|             1|            16600|            16600|
|FI_ACCOUNT|          15840.0|             5|            18000|            13800|
|    ST_MAN|          14560.0|             5|            16400|            11600|
|    HR_REP|          13000.0|             1|            13000|            13000|
|    MK_REP|          12000.0|             1|            12000|            12000|
|   IT_PROG|          11520.0|             5|            18000|             8400|
|   AD_ASST|           8800.0|             1|             8800|             8800|
|  PU_CLERK|           5560.0|             5|             6200|             5000|
|  ST_CLERK|           5500.0|            16|             7200|             4200|
|  SH_CLERK|           5200.0|             2|             5200|             5200|
+----------+-----------------+--------------+-----------------+-----------------+

JOB_ID,AVG_DOUBLE_SALARY,EMPLOYEE_COUNT,MAX_DOUBLE_SALARY,MIN_DOUBLE_SALARY
AD_PRES,48000.0,1,48000,48000
AD_VP,34000.0,2,34000,34000
MK_MAN,26000.0,1,26000,26000
AC_MGR,24016.0,1,24016,24016
FI_MGR,24016.0,1,24016,24016
PU_MAN,22000.0,1,22000,22000
PR_REP,20000.0,1,20000,20000
AC_ACCOUNT,16600.0,1,16600,16600
FI_ACCOUNT,15840.0,5,18000,13800
ST_MAN,14560.0,5,16400,11600
HR_REP,13000.0,1,13000,13000
MK_REP,12000.0,1,12000,12000
IT_PROG,11520.0,5,18000,8400
AD_ASST,8800.0,1,8800,8800
PU_CLERK,5560.0,5,6200,5000
ST_CLERK,5500.0,16,7200,4200
SH_CLERK,5200.0,2,5200,5200

Databricks visualization. Run in Databricks to view.

In [0]:
golden_df.printSchema()

root
 |-- JOB_ID: string (nullable = true)
 |-- AVG_DOUBLE_SALARY: double (nullable = true)
 |-- EMPLOYEE_COUNT: long (nullable = false)
 |-- MAX_DOUBLE_SALARY: integer (nullable = true)
 |-- MIN_DOUBLE_SALARY: integer (nullable = true)

In [0]:
%sql
INSERT INTO employees 
(EMPLOYEE_ID, FIRST_NAME, LAST_NAME, EMAIL, PHONE_NUMBER, HIRE_DATE, JOB_ID, SALARY, COMMISSION_PCT, MANAGER_ID, DEPARTMENT_ID)
VALUES 
(9999, 'John', 'Doe', 'jdoe@example.com', '123-456-7890', '2025-03-18', 'NEW_JOB_ID', 50000, NULL, 101, 10);

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql
INSERT INTO employees 
(EMPLOYEE_ID, FIRST_NAME, LAST_NAME, EMAIL, PHONE_NUMBER, HIRE_DATE, JOB_ID, SALARY, COMMISSION_PCT, MANAGER_ID, DEPARTMENT_ID)
VALUES 
(10000, 'Jane', 'Smith', 'jsmith@example.com', '987-654-3210', '2025-03-19', 'DEV_ENGINEER', 60000, 0.05, 102, 20);

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql
INSERT INTO employees 
(EMPLOYEE_ID, FIRST_NAME, LAST_NAME, EMAIL, PHONE_NUMBER, HIRE_DATE, JOB_ID, SALARY, COMMISSION_PCT, MANAGER_ID, DEPARTMENT_ID)
VALUES 
(10001, 'Alice', 'Johnson', 'ajohnson@example.com', '456-789-0123', '2025-03-20', 'SALES_MANAGER', 70000, 0.10, 103, 30);

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql
INSERT INTO employees 
(EMPLOYEE_ID, FIRST_NAME, LAST_NAME, EMAIL, PHONE_NUMBER, HIRE_DATE, JOB_ID, SALARY, COMMISSION_PCT, MANAGER_ID, DEPARTMENT_ID)
VALUES 
(10002, 'Bob', 'Smith', 'bsmith@example.com', '789-012-3456', '2025-03-21', 'HR_MANAGER', 65000, NULL, 104, 40);

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql
INSERT INTO employees 
(EMPLOYEE_ID, FIRST_NAME, LAST_NAME, EMAIL, PHONE_NUMBER, HIRE_DATE, JOB_ID, SALARY, COMMISSION_PCT, MANAGER_ID, DEPARTMENT_ID)
VALUES 
(10003, 'Emma', 'Williams', 'ewilliams@example.com', '987-654-3210', '2025-03-22', 'FINANCE_ANALYST', 72000, NULL, 105, 50);

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql
INSERT INTO employees 
(EMPLOYEE_ID, FIRST_NAME, LAST_NAME, EMAIL, PHONE_NUMBER, HIRE_DATE, JOB_ID, SALARY, COMMISSION_PCT, MANAGER_ID, DEPARTMENT_ID)
VALUES 
(10004, 'David', 'Brown', 'dbrown@example.com', '321-654-0987', '2025-03-23', 'MARKETING_DIRECTOR', 80000, 0.05, 106, 60);

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql
INSERT INTO employees 
(EMPLOYEE_ID, FIRST_NAME, LAST_NAME, EMAIL, PHONE_NUMBER, HIRE_DATE, JOB_ID, SALARY, COMMISSION_PCT, MANAGER_ID, DEPARTMENT_ID)
VALUES 
(10005, 'Emma', 'Wilson', 'ewilson@example.com', '987-654-3210', '2025-03-24', 'FINANCE_ANALYST', 72000, NULL, 107, 50);

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql
INSERT INTO employees 
(EMPLOYEE_ID, FIRST_NAME, LAST_NAME, EMAIL, PHONE_NUMBER, HIRE_DATE, JOB_ID, SALARY, COMMISSION_PCT, MANAGER_ID, DEPARTMENT_ID)
VALUES 
(10006, 'Liam', 'Anderson', 'landerson@example.com', '654-987-1230', '2025-03-25', 'IT_MANAGER', 75000, NULL, 108, 20);

num_affected_rows,num_inserted_rows
1,1

In [0]:
# Register the DataFrame as a Delta table in the metastore
golden_df.write.format("delta") \
    .option("overwriteSchema", "true") \
    .mode("overwrite") \
    .saveAsTable("golden_table_view")  # The name of the table in the metastore

##Unity Catalog

Create a Catalog

In [0]:
%sql
CREATE CATALOG IF NOT EXISTS my_catalog;

Create a Schema (Database) Inside the Catalog

In [0]:
%sql
CREATE SCHEMA IF NOT EXISTS my_catalog.my_schema;

Create a Delta Table Inside the Schema

In [0]:
%sql
CREATE TABLE my_catalog.my_schema.employees (
    EMPLOYEE_ID INT,
    FIRST_NAME STRING,
    LAST_NAME STRING,
    EMAIL STRING,
    PHONE_NUMBER STRING,
    HIRE_DATE DATE,
    JOB_ID STRING,
    SALARY FLOAT,
    COMMISSION_PCT FLOAT,
    MANAGER_ID INT,
    DEPARTMENT_ID INT
) USING DELTA;

Grant Permissions Using Unity Catalog

In [0]:
%sql
GRANT SELECT ON TABLE my_catalog.my_schema.employees TO `mayureshspawashe@gmail.com`;

Verify Permissions

In [0]:
%sql
SHOW GRANTS ON TABLE my_catalog.my_schema.employees;

Principal,ActionType,ObjectType,ObjectKey
mayureshspawashe@gmail.com,SELECT,TABLE,my_catalog.my_schema.employees

##Delta Live Table